:root{
    --bg-color:rgb(20,20,20);
    --list-item-color:rgb(23,23,23);
}
body{
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    max-width: 600px;
    width: calc(100%-20px);
}
#list:hover>.list-item::after{
    opacity: 1;
}
.list-item{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    height: 60px;
    width: 100px;
}
.list-item:hover::before{
    opacity: 1;

}
.list-item::before,.list-item::after{
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 500ms;
    width: 100%;
}
.list-item::before{
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255,0.06),transparent 40%);
    z-index: 2;
}
.list-item::after{
    background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255,0.4),transparent 40%);
    z-index: 1;
}
.list-item-content{
    background-color: var(--list-item-color);
    border-radius: inherit;
    display: flex;
    align-items: center;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 3;
}
.list-item-content input[type="checkbox"]{
    margin-right: 10px;
    cursor: pointer;
}
.list-item-content span{
    font-size: 16px;
}